<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define a simple bean -->
    <bean id="Alian" class=" com.springcore.SpringNormalExample.Alian"  autowire="byType"> <!-- scope="prototype"-->
   	 		<!--<property name="name" value="John Doe" />
   		 	<property name="age" value="30" /> -->
  
   		 	<property name="name" value="NitinPhirke" />
   		 	<!-- <property name="comp" ref="Laptop" />  -->
    </bean>
    
     <bean id="Laptop" class=" com.springcore.SpringNormalExample.Laptop"  primary="true"> <!-- scope="prototype"-->
     </bean>
    
    <bean id="Desktop" class=" com.springcore.SpringNormalExample.Desktop"  />	
    
    
</beans>